{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1> Revision history for {{=title.title()}}</h1>

<ul>
{{for r in rev:}}
<li>
{{if r.author is None:}}
Revision by {{=r.author_ip}}, posted on {{=r.date_created}}
{{else:}}
Revision by {{=r.author.first_name}}, {{=r.author.last_name}},
posted on {{=r.date_created}}
{{pass}}
{{=A('Revert', _class='btn', _href=URL('default', 'history', args=[title, r.id], vars=dict(rev='y')))}}
</li>
{{pass}}
</ul>

<p>
	{{=A('Return', _class='btn', _href=URL('default', 'home', args=[title]))}}
</p>